# File này được quản lý bởi Ansible - Template: rhel8.repo.j2
[rhel-8-for-x86_64-appstream-rpms]
name=rhel-8-for-x86_64-appstream-rpms
baseurl=http://10.64.68.99/rhel-8-for-x86_64-appstream-rpms
gpgcheck=0
enabled=1

[rhel-8-for-x86_64-baseos-rpms]
name=rhel-8-for-x86_64-baseos-rpms
baseurl=http://10.64.68.99/rhel-8-for-x86_64-baseos-rpms
gpgcheck=0
enabled=1

[datastax]
name=datastax
baseurl=http://10.64.68.99/datastax
gpgcheck=0
enabled=1

[epel]
name=epel
baseurl=http://10.64.68.99/epel
gpgcheck=0
enabled=1

[epel-modular]
name=epel-modular
baseurl=http://10.64.68.99/epel-modular/
gpgcheck=0
enabled=1